@import url(reset.css);
body{
    background-color: #323133;
    color: white;
}

.Action{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.Action button{
    padding: 2px 30px;
    border-radius: 10px;
}

.searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchBarInput{
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 210px;
}
.material-symbols-outlined{
    color: black;
}
#position{
    border: none;
}